<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre 2021</title>
    <link rel="stylesheet" href="/csss/style.css">
</head>
<body>
    <header>
        <div><img src="/public/images/images/img-home-banner.jpg" alt=""></div>
        <div>lugar para poner la barra de busqueda</div>
        <p>compra sin interes</p>
        <nav>
            <ul>
                <li><a href="">oferas</a></li>
                <li><a href="">tienas oficiales</a></li>
                <li><a href="">vender</a></li>
                <li><a href="">ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
        </section>
    </main>
</body>
</html>