/*contenedor general */
.register-login .contenedor{
    width:90%;
    margin: 0 auto;
    max-width: 375px;
}

/*contenedor input*/
.register-login .contenedor .contenedor-input{
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

 /*contenedor de perfil usuario*/
 .register-login .contenedor .contenedor-perfil{
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

/*titulo general*/
.register-login .contenedor h1{
    text-align: center;
    margin: 30px 0 ;
}


/*labels*/
.register-login .contenedor .label-titulo{
    margin-bottom: 15px;
    font-weight: bold;
}

/*h4 de registro*/
.register-login .contenedor .item-form{
    color: black;
}


/*inputs largos por estética*/
.register-login .contenedor .contenedor-input input.input-largo{
    width: 100%;
}


/*inputs radio y check*/
.register-login .contenedor .contenedor-perfil .radio{
    margin: 0 20px;
}

.register-login .contenedor .contenedor-input .check{
    margin: 0 12px;
}

/* inputs y botones*/
.register-login .contenedor .contenedor-input input,
.register-login .contenedor button.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
}


/*botones*/
.register-login .contenedor .conteiner-btn{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.register-login .contenedor .conteiner-btn .btn{
    background-color: var(--colorCeleste);
    color:white;
}

@media (min-width:768px){
    /*contenedor input*/
.register-login .contenedor .contenedor-perfil{
    display: inline-flex;
    margin: 20px 0;
    flex-wrap: wrap;
}
}