@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--colorGrisClaro);
}

main{
    margin: 0 auto;
    width: 90% ;
}

main section article.card div.card-content p.precio{
    font-size: 18px;
}

main section article.card div.card-content p.descuento{
    font-size: 16px;
}

p, header nav ul li a{
    font-size: 12px;
}

h4{
    font-size: 16px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

:root{
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}