/* mobile first*/

header{
    background-color: var(--colorAmarillo);
    padding: 20px 20px 15px 20px;
}
 

header .logo-search{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/*imagen del logo */
header .logo-search .logo{
    width: 48%;
}
  

/* barra de busqueda e icono de lupa */
header .logo-search .search{
    width: 48%;
}

header .logo-search .search form{
    display: flex;
    width: 100%;
} 

header .logo-search .search input{
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    flex-grow: 1;
    width: 100%;
}

header .logo-search .search button{
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 5px;
    color: var(--colorGrisOscuro);
    display: flex;
    align-items: center;
}
 

/* mensaje de pago */
header .pago{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
 

/*lista de navegacion*/

header nav{
    display: none;
}


/* boton hamburguesa*/
header div.burger-menu{
    width: 32px;
    padding: 7.5px;
    background-color: var(--colorCeleste);
    color: white;
    margin: 10px auto 0 auto;
    text-align: center;
    border-radius: 5px;
}


/*tablet*/
@media(min-width:768px){
    
    header{
        background-color: var(--colorAmarillo);
        padding: 20px 20px 15px 20px;
    }

    header .logo-search{
        padding-bottom: 5%;
    }
 
/* logo, barra de busqueda y pago*/
    header .logo-search .logo{
        width: 34%;
        margin-left: 0px;
    }
    header .logo-search .search{
        width: 33%;
    }
    header .pago{
        width: 33%;
        margin: 0px 0;
    }
     
    /*barra de busqueda*/

    header .logo-search .search form{
        width: 94%;
    } 
    
    header .logo-search .search input{
        margin-left: 6%;
        border-radius: 6px 0 0 6px;
    }


/*barra de navegacion*/
    header nav{
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin:0 9px;
    }
    header nav ul li i{
        margin-left: 3px;
    }
    

    /*boton hamburguesa*/
    header div.burger-menu{
        display: none;
    }
}

/* desktop*/
@media(min-width:769px){
    header{
        background-color: var(--colorAmarillo);
        padding: 11px 20px 20px;
    }


    header .logo-search{
        padding-bottom: 3%;
    }
    
    /* logo, barra de busqueda y pago*/
    header .logo-search .logo{
        width: 33%;
        margin-left: 9px;
    }

     
    header .logo-search .pago p{
        width: 264px;
    }

}