/* mobile first*/

header{
    background-color: var(--colorAmarillo);
    padding-bottom: 17px;
}
 
/*imagen del logo */
header .logo{
    width: 130px;
    margin-left: 25px;
    padding-top: 25px;
    margin-bottom: 10px;
}
  

/* barra de busqueda e icono de lupa */
header .search{
    margin-left: 20px;
}

header .search input{
    width: 172px;
}
 

/* mensaje de pago */
header .pago{
    margin: 10px 0 10px;
    text-align: center;
}
 

/*listas */
header nav ul{
    margin-bottom: 15px;
    display: none;
}

header nav ul li{
    margin-bottom: -6.5px;
}

header nav ul li i{
    margin-left: 3px;
}


/* boton hamburguesa*/
header div.burger-menu{
    width: 32px;
    padding: 7.5px;
    background-color: var(--colorCeleste);
    color: white;
    margin: 10px auto 0 auto;
    text-align: center;
    border-radius: 5px;
}


/*tablet*/
@media(min-width:361px){
    header nav ul{
        display: block;
    }

    header div.burger-menu{
        display: none;
    }
}

/* desktop*/
@media(min-width:769px){

}