.home main section{
    margin: 28px 15px 0 15px;
}

.home main h3{
    font-size:24px;
}

.home main div{
    margin-bottom: 10px;
}

.home main div p.precio{
    font-size: 18px;
}

.home main div p.descuento{
    font-size: 16px;
}

.home main div h4{
    font-size: 16px;
}